@charset "utf-8";

/*
 * -------------------------------------------------
 * resetcss
 * -------------------------------------------------
 * Estefanio NS <estefanions AT gmail DOT com>
 * https://github.com/estefanions/resetcss
 */

*{
    text-align: left;font-weight: normal;font-size: 100%;
    vertical-align: baseline;list-style: none;text-decoration: none;
    outline:0;margin:0;padding:0;border:0 none;font-style: normal;
    border-spacing: 0;border-collapse: collapse;vertical-align: top;
    quotes: none; content: '';content: none;background:transparent;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

figcaption,figure,footer,article,aside,details,
menu,nav,section,header,hgroup,hr{ display: block}
hr{
    height:1px;
    border-top:1px solid;
    margin:1em 0
}
input,select,textarea { vertical-align: middle}
button, input {
    *overflow: visible;
    line-height: normal
}
button, html input[type="button"],
html input[type="reset"], html input[type="submit"]
{ 
    cursor: pointer; 
    -webkit-appearance: button
}

select,button,input[type="button"],input[type="reset"],
input[type="submit"],input[type="radio"],
input[type="checkbox"] { cursor: pointer}
input[type="search"] { 
    -webkit-box-sizing: content-box; 
    -moz-box-sizing: content-box;
    box-sizing: content-box; 
    -webkit-appearance: textfield
}
input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button {
-webkit-appearance: none
} 
textarea {overflow: auto; vertical-align: top}
fieldset { 
    border: 1px solid; margin: 0 2px; 
    padding: 0.35em 0.625em 0.75em 
}

